{% extends 'base.html.twig' %}

{% block title %}New Reading{% endblock %}

{% block body %}
    <h1>Starting a new reading</h1>


    {{ include('status/_form.html.twig') }}

    <a href="{{ path('app_status_index') }}">back to list</a>
{% endblock %}
