{% extends 'base.html.twig' %}

{% block title %}New Read{% endblock %}

{% block body %}
  <section id="create-section" class="content-section active">
    <div class="page-header">
      <h1 class="page-title">Add a new Read</h1>
    </div>

    <div class="md-card">
      {% if form is defined %}
        {{ include('status/_form.html.twig',  {'form': form, 'button_label': 'Add'} ) }}
      {% else %}
      {% endif %}
    </div>
  </section>

  <script>
    function goBackCreate() {
      window.location.href = "{{ path('app_status_index') }}"
    }
  </script>
{% endblock %}
