{% extends 'base.html.twig' %}

{% block title %}Edit Writer{% endblock %}

{% block body %}
  <section id="create-section" class="content-section active">
    <div class="page-header">
      <h1 class="page-title">Edit Writer</h1>
    </div>

    <div class="md-card">
      {% if form is defined %}
        {{ include('writer/_form.html.twig',  {'form': form, 'button_label': 'Update'} ) }}
      {% else %}
      {% endif %}
    </div>
  </section>

  <script>
    function goBackEdit() {
      window.location.href = "{{ path('app_writer_index') }}"
    }
  </script>
{% endblock %}
