{% extends 'base.html.twig' %}

{% block title %}New Writer{% endblock %}

{% block body %}
  <section id="create-section" class="content-section active">
    <div class="page-header">
      <h1 class="page-title">Add a new Writer</h1>
    </div>

    <div class="md-card">
      {% if form is defined %}
        {{ include('writer/_form.html.twig',  {'form': form, 'button_label': 'Add'} ) }}
      {% else %}
      {% endif %}
    </div>
  </section>

  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
    <script>
      function goBackCreate() {
        window.location.href = "{{ path('app_writer_index') }}"
      }
    </script>
  {% endif %}
{% endblock %}